@font-face {
  font-family: 'Inter';
  src: url('./assets/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.body {
  font-family: "Inter"; 
  background: white; 
  color: black;
} 

.h1ToDo {
  font-size: 60px; 
  font-weight: normal; 
  color: black; 
  text-align: left; 
  padding-left: 30px;
} 


.tasksHeader {
  font-size: 30px; 
  font-weight: 500; 
  color: black; 
  text-align: left; 
  padding-left: 30px;
}

.box {
  display: flex; 
  flex-direction: row;   
  justify-content: space-between; 
  align-items: center;
} 

.button-style {
  border: 1px solid black; 
  width: 300px; 
  height: 90px; 
  font-size: 30px; 
  align-items: center; 
  border-radius: 60px; 
  margin-left: auto; 
  margin-right: auto;
}

.left-half {
  flex: 1; 
} 

.right-half {
 flex: 1;  
 /* margin-left: auto;  */
} 

.addButton {
  display: flex; 
  justify-content: center;
} 

.urgentTasks {
  list-style-type: none;  
  padding-left: 20px;  
} 

.urgentItem {
  width: 500px; 
  height: 50px;  
  background-color: rgba(255, 48, 48, 0.39); 
} 


.popUp-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
} 

.popUp-content {
  background-color: white; 
  width: 700px; 
  height: 500px; 
  text-align: left; 
  font-family: "Inter"; 
  padding-left: 40px;
} 
 
.formFill {
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
} 

.submitButton {
  width: 250px; 
  height: 70px; 
  border-radius: 60px; 
  background-color: black; 
  color: white; 
  font-size: 30px;
} 

@media (max-width: 992px) {
  .box { 
    display: flex; 
    flex-direction: column-reverse;  
  }  

  .urgentItem {
    width: 300px; 
    height: 50px;  
    background-color: rgba(255, 48, 48, 0.39);  
    margin-left: auto; 
    margin-right: auto; 
    display: block;
  } 
  
  .tasksHeader {
    font-size: 25px; 
    font-weight: 500; 
    color: black; 
    text-align: center; 
    padding-left: 0px;
  }
}